body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: hotpink;
}

.container{
    padding: 20px;
    background-color: greenyellow;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0,0, .5);
    border: 2px solid green;
}

textarea{
    width: 100%;
    resize: none;
    font-size: 18px;
    border: 2px solid green;
    height: 120px;
}

.remain-attribut{
display: flex;
justify-content: space-between;
padding: 5px;

}

.remain-attribut h3{
    font-size: 20px;
    color: rgb(14, 100, 129);
}
.span1{color:rgb(20, 20, 1);}
.span2{color:rgb(190, 22, 22);}